<html>
		<head>
			<link rel="stylesheet" href="static/styles.css">
		</head>
		<title>
			Simple ARM Simulator
		</title>
	<body>
		<h1>An undergrad's attempt at a simple ARMv8 interpreter/simulator</h1>
		<p>
			Welcome to my humble site! Check the docs down below for sample programs and features/updates :D
		</p>
		<p>
			This isn't meant for very robust programs, it's meant to give a comfy environment for beginners
			to tinker with assembly language. Have fun!
		</p>

		{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for msg in messages %}
						<p>{{msg}}</p>
					{% endfor %}
				{% endif %}
		{% endwith %}

		<div id="wrapper">
			<div id="editor">
				<form action="{{ url_for('sim') }}" method='post'>
					<textarea cols="50" rows="30" name="input">{{ oldcode }}</textarea>
					<input type="submit" name="assemble" value="assemble">
					<input type="submit" name="reset" value="reset">
				</form>
			</div>
			<div id="reg_before">
				<table>
					<tr>
						<th>Before</th>
					<tr>
					<tr>
						<th>Register</th>
						<th>Value</th>
					<tr>
						<td>x0</td>
						<td>None</td>
					</tr>
					<tr>
						<td>x1</td>
						<td>None</td>
					</tr>
					<tr>
						<td>x2</td>
						<td>None</td>
					</tr>
					<tr>
						<td>x3</td>
						<td>None</td>
					</tr>
					<tr>
						<td>x4</td>
						<td>None</td>
					</tr>
					<tr>
						<td>x5</td>
						<td>None</td>
					</tr>
					<tr>
						<td>x6</td>
						<td>None</td>
					</tr>
					<tr>
						<td>x7</td>
						<td>None</td>
					</tr>
					<tr>
						<td>x8</td>
						<td>None</td>
					</tr>
					<tr>
						<td>x9</td>
						<td>None</td>
					</tr>
					<tr>
						<td>lr</td>
						<td>None</td>
					</tr>
					<tr>
						<td>sp</td>
						<td>[ ]</td>
					</tr>
				</table>
			</div>
			<div id="reg_after">
				<table>
					<tr>
						<th>After</th>
					</tr>
					<tr>
						<th>Register</th>
						<th>Value</th>
					</tr>
					{% for reg in Reg %}
					<tr>
						<td>{{ reg }}</td>
						<td>{{ Reg[reg] }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<div id="readme">
				<script src="https://gist.github.com/gavinbm/685ea220b8bbe9340ffc32da4e5e3fcc.js"></script>
			</div>
		</div>
	</body>
</html>
